<template name="CoursesEdit">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> CoursesEditEditForm}}
	</div>
</template>

<template name="CoursesEditEditForm">
	<div id="courses-edit-edit-form" class="">
		<h2 id="component-title">
			Edit course
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}		
		
			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-nom-course">
				<label for="nomCourse">
					nom de la course
				</label>
				<div class="input-div">
					<input type="text" name="nomCourse" value="{{course.nomCourse}}" class="form-control" autofocus="autofocus" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-date-course">
				<label for="dateCourse">
					Date
				</label>
				<div class="input-div">
					<input type="text" name="dateCourse" value="{{course.dateCourse}}" class="form-control" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-date_course">
				<label for="date_course">
					Date
				</label>
				<div class="input-div">
					<input type="text" name="date_course" value="{{formatDate course.date_course ''}}" class="form-control" required="required" data-type="date">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-type_course">
				<label for="type_course">
					Type
				</label>
				<div class="input-div">
					<input type="text" name="type_course" value="{{course.type_course}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-lieu">
				<label for="lieu">
					Lieu
				</label>
				<div class="input-div">
					<input type="text" name="lieu" value="{{course.lieu}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-dep">
				<label for="dep">
					Département
				</label>
				<div class="input-div">
					<input type="text" name="dep" value="{{course.dep}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-note">
				<label for="note">
					Note
				</label>
				<div class="input-div">
					<input type="text" name="note" value="{{course.note}}" class="form-control" data-type="int">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-comments">
				<label for="comments">
					Comments
				</label>
				<div class="input-div">
					<textarea class="form-control" rows="10" name="comments">{{course.comments}}</textarea>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-active">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo course.active}}" name="active" data-type="bool" {{itemIsChecked course.active true}}>
							Active
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

